{% load staticfiles %}

<html>

<head>
    <link rel="stylesheet" type="text/css" src="{% static "arrendador/arrendador.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body ng-app="usuario.demo">
    {% verbatim %}
    <Arrendador-arrendador></Arrendador-arrendador>
    {% endverbatim %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="{% static "arrendador/arrendador.js" %}"></script>
    <script src="{% static "arrendador/arrendador.directive.js" %}"></script>
</body>

</html>