<div ng-controller="AdministradorController">
    <div>

        <div class="container" id="formulario">
            <h1>Administrador</h1>
            <form>
                <div class="ng-scope form-row">
                    <!-- <div class="form-group col-md-12">
                            <label for="inputEmail">id</label>
                            <input type="email" class="form-control" id="inputEmail4" placeholder="" ng-model="id" value="{{id}}">
                        </div> -->
                    <div class="form-group col-md-12">
                        <label for="inputEmail">correo</label>
                        <input type="email" class="form-control" id="inputEmail4" placeholder="Email" ng-model="correo" value="{{correo}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputPassword4">clave</label>
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="clave" value="{{clave}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">direccion</label>
                        <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" ng-model="direccion" value="{{clave}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">nombre</label>
                        <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="nombre" value="{{nombre}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Apellido</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="apellido" value="{{apellido}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Celular</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="celular" value="{{celular}}">
                    </div>
                    <div class="form-group col-md-12">
                        <label for="inputAddress">Telefono</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="telefono" value="{{telefono}}">
                    </div>

                    <div class="form-group col-md-12">
                        <label for="inputAddress">Administrador</label>
                        <span class="input-group-addon">
                                
                            <input type="checkbox" ng-model="superUsuario" aria-label="Checkbox for following text input">
                          </span>
                    </div>

                    <button type="button" class="btn btn-success" ng-click="add(nombre, apellido, correo, clave, direccion, celular, telefono, edad)">Guardar</button>
                    <button type="update" class="btn btn-success" ng-click="update(nombre, apellido, correo, clave, direccion, celular, telefono, edad)">actualizar</button>
                </div>

            </form>
        </div>
        <br>
        <br>
        <br>
        <div ng-hide="edit">
            <h1>Listado de Administrador</h1>
            <table ng-table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Apellido</th>
                        <th scope="col">Cedula</th>
                        <th scope="col">Clave</th>
                        <th scope="col">Correo</th>
                        <th scope="col">dirección</th>
                        <th scope="col">edad</th>
                        <th scope="col">telefono</th>
                        <th scope="col">celular</th>
                        <th scope="col">Archivo</th>
                        <th scope="col">Super usuario</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in data" class="list">
                        <td ng-hide="edit">
                            <div>{{list.nombre}}</td>
                        <td ng-hide="edit">{{list.apellido}}</td>
                        <td ng-hide="edit">{{list.cedula}}</td>
                        <td ng-hide="edit">{{list.clave}}</td>
                        <td ng-hide="edit">{{list.correo}}</td>
                        <td ng-hide="edit">{{list.direccion}}</td>
                        <td ng-hide="edit">{{list.edad}}</td>
                        <td ng-hide="edit">{{list.telefono}}</td>
                        <td ng-hide="edit">{{list.celular}}</td>
                        <td ng-hide="edit">{{list.archivo}}</td>
                        <td ng-hide="edit"><input type="checkbox" ng-model="superUsuario" aria-label="Checkbox for following text input" onclick="return false;"></td>
                        <td>
                            <div class="card" ng-show="edit" ng-model-options="modelOptions">
                                <div class="flex">
                                    <label><strong>Title:&nbsp;</strong></label>
                                    <input type="text" ng-model="card.title" />
                                </div>
                                <textarea ng-model="card.description" placeholder="Enter description.."></textarea>
                                <button ng-click="edit=false">close</button>
                                <button ng-click="delete(list)">Delete Card</button>
                            </div>

                        </td>
                        <td><button type="button" class="btn btn-primary" ng-click="cargar(list)"> editar</button></td>
                        <td><button type="button" class="btn btn-danger" ng-click="delete(list)">eliminar</button></td>
                    </tr>
                </tbody>
            </table>

            </div>
            <!-- ng-click="edit=true" -->
        </div>