
<!DOCTYPE html>
<html lang="en">

  <head>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Arrenda app</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/blog-home.css" rel="stylesheet">

  </head>

<body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item">
              <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/usuarios">Usuarios</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/arrendador">Arrendadores</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/administrador">Arrendatarios</a>
            </li>
          </ul>
        </nav>
        <h3 class="text-muted">plataforma web para arrendatarios independientes</h3>
      </div>

      <div class="jumbotron">
        <h1 class="display-3">Planteamiento del problema</h1>
        <p class="lead">En la actualidad existen muchos arrendatarios
independientes que no tienen su casa, local u oficina con una
agencia inmobiliaria por lo tanto la gestión de sus inmuebles
la realizan sin ayuda de tecnologías y en ocasiones se pierde
la trazabilidad de las transacciones debido a que prima la
palabra, pero esto en ocasiones genera dificultades tanto
para el arrendatario como para el arrendador,
adicionalmente como el proceso lo han realizado
empíricamente no cuentan con la información completa de
que se debe de realizar para tener su inmueble respaldado
frente a cualquier inconveniente</p>
        <p><a class="btn btn-lg btn-success" href="/vermas" role="button">Ver mas</a></p>
      </div>

      <div class="form-group col-md-12" style="text-align: center;">
        <h4>De interes para</h4>
      </div>
      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Arrendatarios</h4>
          <p>personas que tienen en alquiler una vivienda que deseen gestionar sus pagos por medio de esta plataforma.</p>

          <h4>Arrendador</h4>
          <p>Propietarios de casa, locales o apartamentos que tengan sus inmuebles en arriendo sin ninguna agencia y desee controlar su información por medio de esta plataforma.</p>

          <h4>Locales comerciales</h4>
          <p>manejamos la normatividad que rigen los locales comerciales</p>
        </div>

        <div class="col-lg-6">
          <h4>Casas</h4>
          <p>manejamos la normatividad que rigen las viviendas.</p>

        </div>
      </div>

      <footer class="footer">
        <p>© Company 2017</p>
      </footer>

    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
</body>
</html>
