<div ng-controller="UsuarioController">
    <form>
        <div class="ng-scope form-row">
            <div class="form-group col-md-6">
                <label for="inputEmail4">correo</label>
                <input type="email" class="form-control" id="inputEmail4" placeholder="Email" ng-model="correo">
            </div>
            <div class="form-group col-md-6">
                <label for="inputPassword4">clave</label>
                <input type="password" class="form-control" id="inputPassword4" placeholder="Password" ng-model="clave">
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">direccion</label>
                <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" ng-model="direccion">
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">nombre</label>
                <input type="text" class="form-control" id="inputName" placeholder="name" ng-model="nombre">
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">Apellido</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="apellido">
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">Celular</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="celular">
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">Telefono</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="telefono">
            </div>
            <div class="form-group col-md-12">
                <label for="inputAddress">Edad</label>
                <input type="text" class="form-control" id="inputLastName" placeholder="name" ng-model="edad">
            </div>
            <button type="button" class="btn btn-success" ng-click="add(nombre, apellido, correo, clave, direccion, celular, telefono, edad)">Guardar</button>
        </div>

    </form>
    <div ng-hide="edit" ng-click="edit=true">

        <table ng-table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Apellido</th>
                    <th scope="col">Cedula</th>
                    <th scope="col">Clave</th>
                    <th scope="col">Correo</th>
                    <th scope="col">dirección</th>
                    <th scope="col">edad</th>
                    <th scope="col">telefono</th>
                    <th scope="col">celular</th>
                    <th scope="col">Archivo</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="list in data" class="list">
                    <td ng-hide="edit"><div >{{list.nombre}}</td>
                    <td ng-hide="edit">{{list.apellido}}</td>
                    <td ng-hide="edit">{{list.cedula}}</td>
                    <td ng-hide="edit">{{list.clave}}</td>
                    <td ng-hide="edit">{{list.correo}}</td>
                    <td ng-hide="edit">{{list.direccion}}</td>
                    <td ng-hide="edit">{{list.edad}}</td>
                    <td ng-hide="edit">{{list.telefono}}</td>
                    <td ng-hide="edit">{{list.celular}}</td>
                    <td ng-hide="edit">{{list.archivo}}</td>
                    <td>
                            <div class="card" ng-show="edit" ng-model-options="modelOptions">
                                    <div class="flex">
                                        <label><strong>Title:&nbsp;</strong></label>
                                        <input type="text" ng-model="card.title" />
                                    </div>
                                    <textarea ng-model="card.description" placeholder="Enter description.."></textarea>
                                    <button ng-click="edit=false">close</button>
                                    <button ng-click="delete()">Delete Card</button>
                                </div>

                    </td>
                    <td><button type="button" class="btn btn-primary" ng-click="edit=true" ng-change="update()"> editar</button></td>
                    <td><button type="button" class="btn btn-danger" ng-click="delete()">eliminar</button></td>
                    <td><button type="button" class="btn btn-info"> ver mas</button></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>