{% load staticfiles %}

<html>

<head>
    <link rel="stylesheet" type="text/css" src="{% static "usuario/usuario.css" %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
</head>

<body ng-app="usuario.demo">
        
              
    {% verbatim %}
    <Administrador-administrador></Administrador-administrador>
    
    {% endverbatim %}

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="{% static "administrador/administrador.js" %}"></script>
    <script src="{% static "administrador/administrador.directive.js" %}"></script>
</body>

</html>